<!DOCTYPE html>
<html>
<head>
  <title>Charmer</title>
  <meta name="viewport" content="width=750"/>
  <style type="text/css">{{> style.css }}</style>
</head>
<body>
  {{> header }}
  {{> icon }}
  {{> pagination }}

  <section class="js-container l-app-container">
    {{> preview }}
    {{> team }}
    {{> projects }}
    {{> contact }}
  </section>

  <script type="text/javascript" async="async">{{> app.js }}</script>

</body>
</html>
