@mixin container {
  @include outer-container;

  @include media($king-star-king) {
    max-width: $king-max-width;
  }

  @include media($god-star-god) {
    max-width: $god-max-width;
  }

  @include media($prince-star-prince) {
    max-width: $prince-max-width; 
  }

  @include media($baby-star-baby) {
    max-width: $baby-max-width;
  }
}
