/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$fb-icon-white-x: 380px;
$fb-icon-white-y: 180px;
$fb-icon-white-offset-x: -380px;
$fb-icon-white-offset-y: -180px;
$fb-icon-white-width: 7px;
$fb-icon-white-height: 12px;
$fb-icon-white-total-width: 498px;
$fb-icon-white-total-height: 469px;
$fb-icon-white-image: '/bedtimecalls/img/sprites/2___1425397467869.png';
$fb-icon-white: 380px 180px -380px -180px 7px 12px 498px 469px '/bedtimecalls/img/sprites/2___1425397467869.png';
$fb-icon-x: 374px;
$fb-icon-y: 180px;
$fb-icon-offset-x: -374px;
$fb-icon-offset-y: -180px;
$fb-icon-width: 6px;
$fb-icon-height: 12px;
$fb-icon-total-width: 498px;
$fb-icon-total-height: 469px;
$fb-icon-image: '/bedtimecalls/img/sprites/2___1425397467869.png';
$fb-icon: 374px 180px -374px -180px 6px 12px 498px 469px '/bedtimecalls/img/sprites/2___1425397467869.png';
$fb-like-icon-x: 352px;
$fb-like-icon-y: 180px;
$fb-like-icon-offset-x: -352px;
$fb-like-icon-offset-y: -180px;
$fb-like-icon-width: 22px;
$fb-like-icon-height: 12px;
$fb-like-icon-total-width: 498px;
$fb-like-icon-total-height: 469px;
$fb-like-icon-image: '/bedtimecalls/img/sprites/2___1425397467869.png';
$fb-like-icon: 352px 180px -352px -180px 22px 12px 498px 469px '/bedtimecalls/img/sprites/2___1425397467869.png';
$preloader-x: 0px;
$preloader-y: 0px;
$preloader-offset-x: 0px;
$preloader-offset-y: 0px;
$preloader-width: 207px;
$preloader-height: 213px;
$preloader-total-width: 498px;
$preloader-total-height: 469px;
$preloader-image: '/bedtimecalls/img/sprites/2___1425397467869.png';
$preloader: 0px 0px 0px 0px 207px 213px 498px 469px '/bedtimecalls/img/sprites/2___1425397467869.png';
$range-icon-x: 318px;
$range-icon-y: 180px;
$range-icon-offset-x: -318px;
$range-icon-offset-y: -180px;
$range-icon-width: 34px;
$range-icon-height: 20px;
$range-icon-total-width: 498px;
$range-icon-total-height: 469px;
$range-icon-image: '/bedtimecalls/img/sprites/2___1425397467869.png';
$range-icon: 318px 180px -318px -180px 34px 20px 498px 469px '/bedtimecalls/img/sprites/2___1425397467869.png';
$send-link-arrow-x: 244px;
$send-link-arrow-y: 354px;
$send-link-arrow-offset-x: -244px;
$send-link-arrow-offset-y: -354px;
$send-link-arrow-width: 124px;
$send-link-arrow-height: 53px;
$send-link-arrow-total-width: 498px;
$send-link-arrow-total-height: 469px;
$send-link-arrow-image: '/bedtimecalls/img/sprites/2___1425397467869.png';
$send-link-arrow: 244px 354px -244px -354px 124px 53px 498px 469px '/bedtimecalls/img/sprites/2___1425397467869.png';
$share-screen-arrow-x: 127px;
$share-screen-arrow-y: 354px;
$share-screen-arrow-offset-x: -127px;
$share-screen-arrow-offset-y: -354px;
$share-screen-arrow-width: 117px;
$share-screen-arrow-height: 72px;
$share-screen-arrow-total-width: 498px;
$share-screen-arrow-total-height: 469px;
$share-screen-arrow-image: '/bedtimecalls/img/sprites/2___1425397467869.png';
$share-screen-arrow: 127px 354px -127px -354px 117px 72px 498px 469px '/bedtimecalls/img/sprites/2___1425397467869.png';
$skype-share-screen-img-x: 318px;
$skype-share-screen-img-y: 0px;
$skype-share-screen-img-offset-x: -318px;
$skype-share-screen-img-offset-y: 0px;
$skype-share-screen-img-width: 180px;
$skype-share-screen-img-height: 180px;
$skype-share-screen-img-total-width: 498px;
$skype-share-screen-img-total-height: 469px;
$skype-share-screen-img-image: '/bedtimecalls/img/sprites/2___1425397467869.png';
$skype-share-screen-img: 318px 0px -318px 0px 180px 180px 498px 469px '/bedtimecalls/img/sprites/2___1425397467869.png';
$tw-icon-white-x: 387px;
$tw-icon-white-y: 180px;
$tw-icon-white-offset-x: -387px;
$tw-icon-white-offset-y: -180px;
$tw-icon-white-width: 14px;
$tw-icon-white-height: 12px;
$tw-icon-white-total-width: 498px;
$tw-icon-white-total-height: 469px;
$tw-icon-white-image: '/bedtimecalls/img/sprites/2___1425397467869.png';
$tw-icon-white: 387px 180px -387px -180px 14px 12px 498px 469px '/bedtimecalls/img/sprites/2___1425397467869.png';
$tw-icon-x: 447px;
$tw-icon-y: 180px;
$tw-icon-offset-x: -447px;
$tw-icon-offset-y: -180px;
$tw-icon-width: 13px;
$tw-icon-height: 10px;
$tw-icon-total-width: 498px;
$tw-icon-total-height: 469px;
$tw-icon-image: '/bedtimecalls/img/sprites/2___1425397467869.png';
$tw-icon: 447px 180px -447px -180px 13px 10px 498px 469px '/bedtimecalls/img/sprites/2___1425397467869.png';
$tw-like-icon-x: 415px;
$tw-like-icon-y: 180px;
$tw-like-icon-offset-x: -415px;
$tw-like-icon-offset-y: -180px;
$tw-like-icon-width: 32px;
$tw-like-icon-height: 11px;
$tw-like-icon-total-width: 498px;
$tw-like-icon-total-height: 469px;
$tw-like-icon-image: '/bedtimecalls/img/sprites/2___1425397467869.png';
$tw-like-icon: 415px 180px -415px -180px 32px 11px 498px 469px '/bedtimecalls/img/sprites/2___1425397467869.png';
$video-1-el-1-x: 225px;
$video-1-el-1-y: 213px;
$video-1-el-1-offset-x: -225px;
$video-1-el-1-offset-y: -213px;
$video-1-el-1-width: 170px;
$video-1-el-1-height: 122px;
$video-1-el-1-total-width: 498px;
$video-1-el-1-total-height: 469px;
$video-1-el-1-image: '/bedtimecalls/img/sprites/2___1425397467869.png';
$video-1-el-1: 225px 213px -225px -213px 170px 122px 498px 469px '/bedtimecalls/img/sprites/2___1425397467869.png';
$video-1-el-2-x: 0px;
$video-1-el-2-y: 354px;
$video-1-el-2-offset-x: 0px;
$video-1-el-2-offset-y: -354px;
$video-1-el-2-width: 61px;
$video-1-el-2-height: 115px;
$video-1-el-2-total-width: 498px;
$video-1-el-2-total-height: 469px;
$video-1-el-2-image: '/bedtimecalls/img/sprites/2___1425397467869.png';
$video-1-el-2: 0px 354px 0px -354px 61px 115px 498px 469px '/bedtimecalls/img/sprites/2___1425397467869.png';
$video-2-el-1-x: 395px;
$video-2-el-1-y: 213px;
$video-2-el-1-offset-x: -395px;
$video-2-el-1-offset-y: -213px;
$video-2-el-1-width: 71px;
$video-2-el-1-height: 117px;
$video-2-el-1-total-width: 498px;
$video-2-el-1-total-height: 469px;
$video-2-el-1-image: '/bedtimecalls/img/sprites/2___1425397467869.png';
$video-2-el-1: 395px 213px -395px -213px 71px 117px 498px 469px '/bedtimecalls/img/sprites/2___1425397467869.png';
$video-3-el-1-x: 61px;
$video-3-el-1-y: 354px;
$video-3-el-1-offset-x: -61px;
$video-3-el-1-offset-y: -354px;
$video-3-el-1-width: 66px;
$video-3-el-1-height: 75px;
$video-3-el-1-total-width: 498px;
$video-3-el-1-total-height: 469px;
$video-3-el-1-image: '/bedtimecalls/img/sprites/2___1425397467869.png';
$video-3-el-1: 61px 354px -61px -354px 66px 75px 498px 469px '/bedtimecalls/img/sprites/2___1425397467869.png';
$video-3-el-2-x: 0px;
$video-3-el-2-y: 213px;
$video-3-el-2-offset-x: 0px;
$video-3-el-2-offset-y: -213px;
$video-3-el-2-width: 112px;
$video-3-el-2-height: 141px;
$video-3-el-2-total-width: 498px;
$video-3-el-2-total-height: 469px;
$video-3-el-2-image: '/bedtimecalls/img/sprites/2___1425397467869.png';
$video-3-el-2: 0px 213px 0px -213px 112px 141px 498px 469px '/bedtimecalls/img/sprites/2___1425397467869.png';
$video-4-el-1-x: 112px;
$video-4-el-1-y: 213px;
$video-4-el-1-offset-x: -112px;
$video-4-el-1-offset-y: -213px;
$video-4-el-1-width: 113px;
$video-4-el-1-height: 127px;
$video-4-el-1-total-width: 498px;
$video-4-el-1-total-height: 469px;
$video-4-el-1-image: '/bedtimecalls/img/sprites/2___1425397467869.png';
$video-4-el-1: 112px 213px -112px -213px 113px 127px 498px 469px '/bedtimecalls/img/sprites/2___1425397467869.png';
$video-4-el-2-x: 207px;
$video-4-el-2-y: 0px;
$video-4-el-2-offset-x: -207px;
$video-4-el-2-offset-y: 0px;
$video-4-el-2-width: 111px;
$video-4-el-2-height: 182px;
$video-4-el-2-total-width: 498px;
$video-4-el-2-total-height: 469px;
$video-4-el-2-image: '/bedtimecalls/img/sprites/2___1425397467869.png';
$video-4-el-2: 207px 0px -207px 0px 111px 182px 498px 469px '/bedtimecalls/img/sprites/2___1425397467869.png';
$vk-icon-white-x: 401px;
$vk-icon-white-y: 180px;
$vk-icon-white-offset-x: -401px;
$vk-icon-white-offset-y: -180px;
$vk-icon-white-width: 14px;
$vk-icon-white-height: 12px;
$vk-icon-white-total-width: 498px;
$vk-icon-white-total-height: 469px;
$vk-icon-white-image: '/bedtimecalls/img/sprites/2___1425397467869.png';
$vk-icon-white: 401px 180px -401px -180px 14px 12px 498px 469px '/bedtimecalls/img/sprites/2___1425397467869.png';
$vk-icon-x: 352px;
$vk-icon-y: 192px;
$vk-icon-offset-x: -352px;
$vk-icon-offset-y: -192px;
$vk-icon-width: 14px;
$vk-icon-height: 8px;
$vk-icon-total-width: 498px;
$vk-icon-total-height: 469px;
$vk-icon-image: '/bedtimecalls/img/sprites/2___1425397467869.png';
$vk-icon: 352px 192px -352px -192px 14px 8px 498px 469px '/bedtimecalls/img/sprites/2___1425397467869.png';
$vk-like-icon-x: 460px;
$vk-like-icon-y: 180px;
$vk-like-icon-offset-x: -460px;
$vk-like-icon-offset-y: -180px;
$vk-like-icon-width: 31px;
$vk-like-icon-height: 10px;
$vk-like-icon-total-width: 498px;
$vk-like-icon-total-height: 469px;
$vk-like-icon-image: '/bedtimecalls/img/sprites/2___1425397467869.png';
$vk-like-icon: 460px 180px -460px -180px 31px 10px 498px 469px '/bedtimecalls/img/sprites/2___1425397467869.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
