.m-background-icon {
  @include size(150%);
  @include position(fixed, 50% null null 0);
  @include transform(translateY(-50%));
  padding-top: 80px;
  padding-bottom: 40px;
  margin-left: -50%;
  z-index: 1000;

  svg {
    @include position(absolute, 50% null null 0);
    @include transform(translateY(-50%));
    @include size(100%);
    // opacity: .2;

    path {
      stroke: #262626;
    }
  }
}

.m-background-icon__container {
  @include size(100%);
  position: relative;
  overflow: hidden;
}
