.m-big-list__item {
  margin: 0;
  padding: 0;
  line-height: 1;
  font: {
    family: $sans-serif;
    size: 81px;
    weight: bold;
  };

  @include media($king-star-king) {
    font-size: modular-scale(-1, 81px);
  }  

  @include media($god-star-god) {
    font-size: modular-scale(-2, 81px);
  }  

  @include media($prince-star-prince) {
    margin-bottom: 50px;
    white-space: nowrap;

    span {
      display: block;
    }
  }

  @include media($baby-star-baby) {
    font-size: 76px;
  }

  @include media($giraffe) {
    font-size: modular-scale(-1, 76px);
  }

  @include media($lama) {
    font-size: modular-scale(-2, 76px);
  }  
}
