.m-logo {
  @include size(120px 42px);
  line-height: 0;
  overflow: hidden;

  a {
    @include size(100%);
    display: block;

    &::after {
      display: none;
    }
  }

  svg {
    @include size(100%);
    @include transition(fill .3s ease 0s);
    fill: $green;
  }

  &:hover svg {
    fill: $white;
  }

  @include media($baby-star-baby) {
    @include size(250px 90px); // Сделать пропорционально
    float: none;
    margin: 0 auto;
  }

  @include media($giraffe) {
    @include size(180px 60px); // Сделать пропорционально
  }
}
