.m-project__link {
  // @include transition(border-bottom-color .3s ease 0s);
  // will-change: border-bottom-color;
  color: $white;
  display: inline-block;
  vertical-align: top;
  // border-bottom: 2px solid $green;
  margin-bottom: 15px;
  line-height: 1.2;
  white-space: nowrap;
  font: {
    weight: bold;
    size: 25px;
  }

  &:hover {
    border-bottom-color: transparent;
  }

  @include media($god-star-god) {
    font-size: modular-scale(-1, 25px);
  }

  @include media($baby-star-baby) {
    font-size: 40px;
    margin-bottom: 10px;
  }
}

.m-project__caption,
.m-project__year {
  white-space: nowrap;
  display: block;
  margin: 0;
  color: $white;// #7c7c7c;
  line-height: 20px;
  font: {
    weight: normal;
    size: 15px;
  }

  @include media($baby-star-baby) {
    line-height: 40px; 
    font-size: 40px;
  }
}
