.m-social-links {
  @include clearfix;

  @include media($baby-star-baby) {
    display: none;
  }

  &--mobile {
    display: none;

    @include media($baby-star-baby) {
      @include position(absolute, null null 72px 0);
      width: 100%;
      font-size: 0;
      display: block;
      text-align: left;
      padding-left: 250px;
    }
  }
}

.m-social-links__item {
  @include size(40px);
  float: left;
  margin-right: 18px;

  &:last-child {
    margin-right: 0;
  }

  @include media($baby-star-baby) {
    @include size(84px);
    display: inline-block;
    vertical-align: top;
    float: none;
    margin-right: 67px;
  }
}

.m-social-links__link {
  @include size(100%);
  @include transition(color .3s ease 0s);
  will-change: color;
  display: block;
  border: 1px solid $base-border-color;
  position: relative;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  color: $white;
  font: {
    weight: bold;
    size: 15px;
  }
  background: {
    position: center center;
    repeat: no-repeat;
  }

  &::after {
    display: none;
  }

  svg {
    @include position(absolute, 50% null null 50%);
    @include size(16px);
    @include transition(fill .3s ease 0s);
    @include transform(translate(-50%, -50%));
    will-change: fill;
    fill: $white;
  }

  &:hover {
    color: $green;
    
    svg {
      fill: $green;
    }
  }

  @include media($baby-star-baby) {
    border-width: 4px;

    svg {
      @include size(32px);
    }
  }
}
