.m-vertical-caption {
  @include position(absolute, 0 null null 0);
  @include size(65px 100%);
  z-index: 1000;
  letter-spacing: tracking(120);
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  font: {
    weight: normal;
    size: 15px;
  }

  @include media($baby-star-baby) {
    width: 50px;
    font-size: 21px;
  }
}

.m-vertical-caption__text {
  @include position(absolute, 50% 0 null null);
  @include transform(rotate(-90deg) translateX(50%));
  @include transform-origin(100% 100%);
  white-space: nowrap;
  display: block;
}
