@import '../../node_modules/bourbon-neat/app/assets/stylesheets/neat-helpers'; // Neat helpers

@include font-face('Walsheim Pro', '/fonts/gt-walsheim-pro-regular-webfont');
@include font-face('Walsheim Pro', '/fonts/gt-walsheim-pro-medium-webfont', bold);
// @include font-face('Walsheim Pro', 'GT-Walsheim-Pro-Regular-Oblique', normal, italic);
// @include font-face('Walsheim Pro', 'GT-Walsheim-Pro-Medium-Oblique', bold, italic);

// Typography
$sans-serif: 'Walsheim Pro';
$serif: $georgia;
$base-font-family: $sans-serif;

// Sizes
$base-font-size: 58px;
$base-line-height: 60px;
$unitless-line-height: $base-line-height; // Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$header-line-height: $base-font-size * 1.25;
$base-border-radius: em(3);

// Colors
$white: #ffffff;
$black: #0c0c0c;
$gray: #474747;
$green: #19a63c;

// Background Color
$base-background-color: $black;

// Font Colors
$base-font-color: $white;
$base-accent-color: $green;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: $base-font-color;
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $gray;

// Buttons
$button-font-family: $sans-serif;
$button-font-size: 22px;
$button-color: $white;
$button-big-font-size: 30px;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), .7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

// Base sizes
$base-padding: 25px;

// Grid
$column: 75px; // Column width
$gutter: 50px; // Gutter between each two columns
$grid-columns: 10; // Total number of columns in the grid

$max-width: 1200px; // Max-width of the outer container
$min-width: 750px;
$min-height: 640px;

// Grid settings
$border-box-sizing: true; // Makes all elements have a border-box layout-feature: min-width; // Default @media feature for the breakpoint() mixin-layout-direction: LTR;

// Visual grid
$visual-grid: false; // Display the base grid
$visual-grid-color: #770058;
$visual-grid-index: front; // Show grid behind content (back) or overlay it over the content (front)
$visual-grid-opacity: .2;

// Breakpoints
$king-max-width: ($max-width - ($column * 2) - ($gutter * 2));
$king-star-king: new-breakpoint(max-width 1400px 6);

$god-max-width: ($max-width - ($column * 4) - ($gutter * 4));
$god-star-god: new-breakpoint(max-width 1170px 6);

$prince-max-width: ($max-width - ($column * 6) - ($gutter * 6));
$prince-star-prince: new-breakpoint(max-width 920px 4);

$baby-max-width: ($max-width - ($column * 6) - ($gutter * 3));
$baby-star-baby: new-breakpoint(max-width 750px 2);

$giraffe: new-breakpoint(max-width 750px max-height 870px);
$lama: new-breakpoint(max-width 750px max-height 730px);

// Layouts
$l-header-height: 95px;
