.l-app-container {
  @include size(100%);
  @include transform(translateY(0) translateZ(0) translate3d(0, 0, 0));
  @include transition(transform .5s ease 0s);
  will-change: transform;
  position: relative;
  z-index: 2000;
}
