.l-grid {
  @include container;
}

.l-grid__item {
  @include span-columns(2);
  @include omega(5n);
  margin-bottom: 45px;
  line-height: 0; // wtf?

  @include media($king-star-king) {
    @include omega-reset(5n);
    @include span-columns(2);
    @include omega(3n);
  }

  @include media($god-star-god) {
    margin-bottom: modular-scale(-1, 45px);
  }

  @include media($prince-star-prince) {
    @include omega-reset(5n);
    @include omega-reset(3n);
    @include span-columns(2);
    @include omega(2n);
  }

  @include media($baby-star-baby) {
    @include omega-reset(2n);
    @include span-columns(2);
    @include omega(1n);

    &:last-child {
      margin-bottom: 0;
    }
  }
}
