.l-header {
  @include position(fixed, 0 null null 0);
  @include size(100% 80px);
  @include clearfix;
  padding: 40px 50px 0;
  z-index: 8000;
  
  @include media($baby-star-baby) {
    @include position(absolute, 0 null null 0);
    padding: 55px 0 0;
    height: 145px;
  }

  @include media($giraffe) {
    height: 115px;
  }
}
