.l-pagination {
  @include position(fixed, 50% 50px null null);
  @include size(8px auto);
  @include transform(translateY(-50%));
  z-index: 8000;

  @include media($baby-star-baby) {
    right: 33px;
  }
}

.l-pagination__link {
  @include size(26px);
  position: relative;
  display: block;

  &::after {
    display: none;
  }

  &::before {
    @include size(8px);
    @include position(absolute, 50% null null 50%);
    @include transform(translate(-50%, -50%));
    @include transition(box-shadow .3s ease 0s, background-color .3s ease 0s);
    will-change: box-shadow, background-color;
    border-radius: 100%;
    box-shadow: 0 0 1px 1px $gray inset;
    display: block;
    content: '';
  }

  &:hover::before {
    box-shadow: 0 0 1px 1px rgba($gray, 0) inset;
    background-color: $green;
  }

  &.active::before {
    box-shadow: 0 0 1px 1px rgba($white, 0) inset;
    background-color: $white;
  }

  @include media($baby-star-baby) {
    @include size(28px);

    &::before {
      @include size(9px);
      box-shadow: 0 0 0 2px $white inset;
    }
  }
}
