%button {
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  border-radius: $base-border-radius;
  color: #ffffff;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: 1;
  padding: 0;
  outline: 0;
  text-decoration: none;
}
