button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  @include transition(background-color .3s ease 0s);

  border: 0;
  border-radius: 0;

  cursor: pointer;
  user-select: none;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  outline: 0;
  overflow: hidden;

  height: 50px;
  padding: 0 50px;

  line-height: 50px;
  text: {
    transform: uppercase;
    align: center;
  }
  font: {
    size: 14px;
    weight: bold;
  }

  background-color: $green;
  letter-spacing: tracking(50);

  &:hover {
    background-color: darken($green, 5);
  }

  &.disabled {
    pointer-events: none;
    background-color: #d9d9d9 !important;
  }
}
