.d-float {
  &--left {
    float: left;
  }

  &--right {
    float: right;
  }
}

.d-overflow {
  &--hidden {
    overflow: hidden;
  }
}

.d-height {
  &--full {
    height: 100vh;

    @include media($baby-star-baby) {
      min-height: $min-height;
    }
  }
}

.d-width {
  &--full {
    width: 100%;
  }
}

.d-padding {
  &--base {
    padding: 0 $base-padding;
  }

  @include media($baby-star-baby) {
    &--baby-50 {
      padding-top: 50px;
    }
  }
}

.d-centered {
  &--horizontal {
    margin: 0 auto;
  }

  &--both {
    @include position(absolute, 50% null null 50%);
    @include transform(translate(-50%, -50%));
  }

  &--king-disable {
    @include media($king-star-king) {
      @include pad(default 0);
      @include position(static, 0 null null 0);
      @include transform(none);
    }

    @include media($baby-star-baby) {
      @include pad(170px 0);
    }
  }
}

.d-position {
  &--relative {
    position: relative;
  }
}

.d-outer-container {
  @include container;
}

.md-display {
  &--block {
    display: block;
  }
}
