html,
body {
  @include size(100%);
  min-width: $min-width;
  min-height: $min-height;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $unitless-line-height;
  overflow: auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-font-family;
  line-height: $header-line-height;
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
  text-align: center;
}

h1 {
  font-size: $base-font-size * 2.25;
}

h2 {
  font-size: $base-font-size * 2;
}

h3 {
  font-size: $base-font-size * 1.75; // 16 * 1.75 = 28px
}

h4 {
  font-size: $base-font-size * 1.5; // 16 * 1.5 = 24px
}

h5 {
  font-size: $base-font-size * 1.25; // 16 * 1.25 = 20px
}

h6 {
  font-size: $base-font-size;
}

p {
  margin: 0 0 40px;
  line-height: $base-line-height;
  font: {
    weight: bold;
    size: $base-font-size;
  }

  &:only-child {
    margin: 0;
  }

  @include media($king-star-king) {
    font-size: modular-scale(-1, $base-font-size);
    line-height: modular-scale(-1, $base-line-height);
  }

  @include media($god-star-god) {
    font-size: modular-scale(-2, $base-font-size);
    line-height: modular-scale(-2, $base-line-height);
  }

  @include media($baby-star-baby) {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 55px;
  }

  @include media($giraffe) {
    font-size: modular-scale(-1, 50px);
    line-height: modular-scale(-1, 50px);
    margin-bottom: modular-scale(-1, 50px);
  }

  @include media($lama) {
    font-size: modular-scale(-2, 50px);
    line-height: modular-scale(-2, 50px);
    margin-bottom: modular-scale(-2, 50px);
  }  
}

// a {
//   @include transition(color .3s ease 0s);
//   color: $base-link-color;
//   text-decoration: none;

//   &:hover {
//     color: $hover-link-color;
//   }

//   &:active,
//   &:focus {
//     color: $base-link-color;
//     outline: none;
//   }
// }

a {
  @include transition(color .3s ease 0s);
  color: $white;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  position: relative;

  &::after {
    @include size(100% 2px);
    @include position(absolute, null null 0 0);
    @include transition(opacity .3s ease 0s);
    will-change: opacity;
    background-color: $green;
    display: block;
    content: '';
  }

  &:hover {
    color: $white;

    &::after {
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    color: $white;
    outline: none;
  }
}

hr {
  border-bottom: 1px solid $base-border-color;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-line-height 0;
}

img {
  margin: 0;
  max-width: 100%;
  vertical-align: top;
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  margin: $base-line-height 0;
  padding-left: $base-line-height / 2;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}

figure {
  margin: 0;
}
