<header class="l-header">

  <ul class="m-social-links d-float--right">

    <li class="m-social-links__item">
      <a target="_blank" href="https://www.facebook.com/CharmerStudio" class="m-social-links__link">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><path d="M118.8 50h50V0H100C82.5 0 68.8 13.8 68.8 31.2V75H31.2v50h37.5v75h50v-75h37.5l12.5-50h-50V50z"/></svg>
      </a>
    </li>

    <li class="m-social-links__item">
      <a target="_blank" href="https://instagram.com/explore/tags/chrmr/" class="m-social-links__link">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><path d="M187.5 0h-175C6.2 0 0 6.2 0 12.5v175c0 6.2 6.2 12.5 12.5 12.5h175c6.2 0 12.5-6.2 12.5-12.5v-175C200 6.2 193.8 0 187.5 0zM100 62.5c21.2 0 37.5 16.2 37.5 37.5s-16.2 37.5-37.5 37.5-37.5-16.3-37.5-37.5S78.8 62.5 100 62.5zM175 175H25V87.5h13.8c-1.2 3.8-1.2 8.8-1.2 12.5 0 35 27.5 62.5 62.5 62.5s62.5-27.5 62.5-62.5c0-3.8 0-8.8-1.2-12.5H175V175zM156.2 62.5c-10 0-18.8-8.7-18.8-18.8S146.2 25 156.2 25 175 33.8 175 43.8s-8.8 18.7-18.8 18.7z"/></svg>
      </a>
    </li>

{{!--     <li class="m-social-links__item">
      <a target="_blank" href="javascript:void(0)" class="m-social-links__link">RU</a>
    </li> --}}
  </ul>

  <figure class="m-logo d-float--left">
    <a href="#preview" class="js-anchor">
      {{> logo }}
    </a>
  </figure>
  
</header>
