<ul class="l-pagination">

  <li>
    <a class="js-anchor l-pagination__link active" href="#preview"></a>
  </li>

  <li>
    <a class="js-anchor l-pagination__link" href="#team"></a>
  </li>

  <li>
    <a class="js-anchor l-pagination__link" href="#projects"></a>
  </li>

  <li>
    <a class="js-anchor l-pagination__link" href="#contact"></a>
  </li>

</ul>
    