<section class="l-section d-padding--baby-50 js-section" id="preview">
  
  <section class="d-outer-container d-height--full d-position--relative">

    <ul class="m-big-list d-centered--both d-width--full">
    
      <li class="m-big-list__item">
        <a class="js-anchor" href="#team">We</a>
        <span> design stories.</span>
      </li>

      <li class="m-big-list__item">
        <span>Our <a class="js-anchor" href="#projects">works</a></span>
        <span> speak for themselves.</span>
      </li>

      <li class="m-big-list__item">
        <span><a class="js-anchor" href="#contact">Contact</a> us,</span>
        <span> if you agree.</span>
      </li>

    </ul>

  </section>

</section>
