<section class="l-section js-section" id="projects">

  <p class="m-vertical-caption">
    <span class="m-vertical-caption__text">works</span>
  </p>

  <section class="d-centered--both d-centered--king-disable d-width--full d-outer-container">
    <p> We&nbsp;specialize in&nbsp;the development of&nbsp;websites, applications and corporate designs</p>

    <section class="l-grid">

      <article class="l-grid__item">
        <a target="_blank" href="http://www.vedomosti.ru/" class="m-project__link">Vedomosti</a>
        <p class="m-project__caption">Design</p>
        <time class="m-project__year">2015</time>
      </article>

      <article class="l-grid__item">
        <a target="_blank" href="http://artmanagement.ru/" class="m-project__link">Art Management</a>
        <p class="m-project__caption">Design and Development</p>
        <time class="m-project__year">2015</time>
      </article>

      <article class="l-grid__item">
        <a target="_blank" href="http://arzamas.academy/" class="m-project__link">Arzamas</a>
        <p class="m-project__caption">Design and Development</p>
        <time class="m-project__year">2015</time>
      </article>

      <article class="l-grid__item">
        <a target="_blank" href="https://meduza.io/" class="m-project__link">Meduza</a>
        <p class="m-project__caption">Web and Application Design</p>
        <time class="m-project__year">2015</time>
      </article>

      <article class="l-grid__item">
        <a target="_blank" href="http://www.openbank.ru/" class="m-project__link">Bank Otkritie</a>
        <p class="m-project__caption">Design and Development</p>
        <time class="m-project__year">2014</time>
      </article>

      <article class="l-grid__item">
        <a target="_blank" href="http://www.artguide.com/" class="m-project__link">Artguide</a>
        <p class="m-project__caption">Design and Development</p>
        <time class="m-project__year">2014</time>
      </article>

      <article class="l-grid__item">
        <a target="_blank" href="http://www.mhealth.ru/" class="m-project__link">Men's Health</a>
        <p class="m-project__caption">Design</p>
        <time class="m-project__year">2014</time>
      </article>

      <article class="l-grid__item">
        <a target="_blank" href="http://ditelegraph.com/" class="m-project__link">Di Telegraph</a>
        <p class="m-project__caption">Design and Development</p>
        <time class="m-project__year">2014</time>
      </article>

      <article class="l-grid__item">
        <a target="_blank" href="http://editions.artguide.com/" class="m-project__link">Artguide Editions</a>
        <p class="m-project__caption">Design and Development</p>
        <time class="m-project__year">2014</time>
      </article>

      <article class="l-grid__item">
        <a target="_blank" href="http://charmerstudio.com/frank/" class="m-project__link">Imperial Pomp</a>
        <p class="m-project__caption">Design and Development</p>
        <time class="m-project__year">2014</time>
      </article>

      <article class="l-grid__item">
        <a target="_blank" href="http://fivekids.ru/" class="m-project__link">Five Kids</a>
        <p class="m-project__caption">Design and Development</p>
        <time class="m-project__year">2013</time>
      </article>

      <article class="l-grid__item">
        <a target="_blank" href="http://www.profmediatv.ru/" class="m-project__link">Profmedia TV</a>
        <p class="m-project__caption">Design and Development</p>
        <time class="m-project__year">2013</time>
      </article>

      <article class="l-grid__item">
        <a target="_blank" href="http://vozduh.afisha.ru/" class="m-project__link">Afisha Vozduh</a>
        <p class="m-project__caption">Design</p>
        <time class="m-project__year">2013</time>
      </article>

      <article class="l-grid__item">
        <a target="_blank" href="http://www.colta.ru/" class="m-project__link">Colta</a>
        <p class="m-project__caption">Design and Development</p>
        <time class="m-project__year">2013</time>
      </article>

      <article class="l-grid__item">
        <a target="_blank" href="http://lenta.ru/" class="m-project__link">Lenta</a>
        <p class="m-project__caption">Design</p>
        <time class="m-project__year">2013</time>
      </article>

    </section>

  </section>

</section>
