<section class="l-section js-section" id="team">
  <p class="m-vertical-caption">
    <span class="m-vertical-caption__text">studio</span>
  </p>

  <section class="d-outer-container d-height--full d-position--relative">
    <p class="d-centered--both d-width--full">
      Our work is rooted in an engineering approach to our assigned tasks. We are interested in being engaged in a project from the beginning to the end, from the idea to its visualization. While working towards our common purpose, we try to stay focused on details which, when taken together, comprise the quality of our works.
    </p>
  </section>
</section>
